@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.card {
    height: fit-content;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

.card .image-container {
    position: relative;
    overflow: hidden;

}

.image-container:hover .image-gradient {
    background: linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure images are displayed as blocks for better layout */
    position: relative;
    transition: transform .5s ease;
    background-color: white;
    border-radius: 0.5rem;
}


.card .image-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    z-index: 20;
    opacity: 1;
}


.card img {
    transition: transform .2s ease-in;
}

/* [3] Finally, transforming the image when container gets hovered */
.image-container:hover img {
    /*transform: scale(1.02);*/
    cursor: pointer;
}

.card h3 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
.card h4 {
    font-size: 12px;
    background-color: #0078d4;
    color: #ffffff;
    padding: .2rem .4rem;
    border-radius: 2rem;
    text-align: center;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    line-height: 1.5; /* Adjust line height for better readability */
}

.card .actions {
    margin-top: 20px;
}

.card .actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0078d4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card .actions button:hover {
    background-color: #005a9e;
}

.card .tech-chips {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: .48rem;
}

.card .tech-chips .chip {
    display: inline-block;
    background-color: #0078d4;
    color: #ffffff;
    border-radius: 16px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    cursor: default;

}

.project-card-headers-section {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap:.4rem;
}

.project-card-action-button {
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-card-action-button:hover {
    background-color: #005a9e;
}

.actions-buttons-container {
    margin-top: 1rem;
}